<header>
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<% if user_signed_in? %>
			<li>Logged in as <%= current_user.fname %> </li>
			<li><%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'navbar-link' %> </li>
			<% else %>
			<li><%= link_to "Sign up", new_user_registration_path %></li>
			<li><%= link_to "Sign in", new_user_session_path %></li>
			<li><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></li>
			<% end %>
		</ul>
	</nav>
	<% unless notice.nil? %><p class="notice"><%= notice %></p> <% end %>
    <% unless alert.nil? %><p class="alert"><%= alert %></p> <% end %>
</header>